body {
 background-color: rgb(15, 15, 15);
}

main ol {
    color: white;
}

main h1 {
    color: teal;
}

main h5 {
    color: orange;
    margin-bottom: 20px;
}

/* #outnow {
    background-image: url("img/202210567_Mitski_EbruYildiz_1370_WEB_1.webp");
    width: 120%;
    height: 850px; 
} */



#outnow h1 {
    color: teal;
    font-variant: small-caps;
    font-size: 50px;
    text-align: left;
    font-variant: small-caps;
    position: relative;
    bottom: 350px;
    width: 100%;
    margin-left: 40px;
}

#outnow h5 {
    color: orange;
    font-variant: small-caps;
    font-size: 20px;
    text-align: left;
    font-variant: small-caps;
    position: relative;
    bottom: 320px;
    width: 100%;
    margin: 35px;
} 

.listen {
    background: transparent;
    border: 2px solid orange;
    border-radius: 8px;
    color: orange;
    width: 130px;
    height: 60px;
    font-variant: small-caps;
    font-size: 25px;
    text-align: center;
    position: relative;
    bottom: 350px;
    margin: 35px;
}


.listen:hover {
    transition-duration: 0.2s;
    background-color: orange;
    color: white;
}

.kep {
    width: 600px;
    float: right;
}

#Mitski_Tracklist {
    height: 100px;
}