body {
 background-color: rgb(15, 15, 15);
}

main ol {
    color: white;
}

main h1 {
    color: teal;
}

main h5 {
    color: orange;
    margin-bottom: 20px;
}

#outnow {
    background-image: url("img/202210567_Mitski_EbruYildiz_1370_WEB_1.webp");
    height: 850px;
}

.listen {
    background: transparent;
    border: 2px solid orange;
    border-radius: 5px;
    color: orange;
    width: 80px;
    height: 50px;
    font-variant: small-caps;
    font-size: 20px;
    text-align: center;
}

.listen:hover {
    transition-duration: 0.2s;
    background-color: orange;
    color: white;
}

.körbefuttatas {
    clear: both;
}

.kep {
    width: 600px;
    float: right;
}