/*Home*/

body {
    background-color: rgb(15, 15, 15);
    margin: 0px;
   }
   
main li {
       margin: 8px;
   }
   
#TRACKLIST p {
       margin-bottom: 3px;
   }
   
.listen {
       background: transparent;
       border: 2px solid orange;
       border-radius: 8px;
       color: orange;
       width: 130px;
       height: 60px;
       font-variant: small-caps;
       font-size: 25px;
       text-align: center;
       position: relative;
       padding-inline: 15px;
       padding-block: 5px;
       text-decoration: none;
       margin: 10px;
   }
   
.listen:hover {
       transition-duration: 0.2s;
       background-color: orange;
       color: white;
    }
    
#fentigomb {
     margin-right: 670px;
    }
   
   
main img {
       margin: 50px;
   }
   
#TRACKLIST {
       font-size: 30px;
       color: whitesmoke;
       margin-top: 30px;
       margin-left: 150px;
       text-align: justify;
       width: 400px;
   }
   
.carousel-caption p {
       margin: 5px;
       color: orange;
       font-variant: small-caps;
       font-weight: 750;
       font-size: 25px;
   }
   
#video video {
       width: 80%;
       position: relative;
       margin-top: 70px;
       margin-left: 150px ;
   }
   
footer {
       height: 300px;
       background-color: orange;
       margin-top: 50px;
   }
   
footer h5 {
       font-variant: small-caps;
       margin-top: 80px;
       margin-left: 50px;
   }


.navbar {
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
   }

.navbar-toggler {
    
}



/*Gallery*/

.video-szoveg {
    color: white;
    text-align: center;
}

body {
    background-color: rgb(24, 24, 24);
}

.form-control {
    border-color: black;
    color: black;
}

.form-control:hover {
    background-color: lightgrey;
    color: white;
}

.card {
    margin-block: 40px;
    margin-inline: 100px;
    font-variant: small-caps;
    background-color: transparent;
    color: whitesmoke;
}

#LastCard {
    margin-bottom: 150px;
}

.Listen {
    background: orange;
    border: 2px solid orange;
    border-radius: 8px;
    color: black;
    width: 130px;
    height: 60px;
    font-variant: small-caps;
    font-size: 25px;
    text-align: center;
    position: relative;
    padding-inline: 15px;
    padding-block: 5px;
    text-decoration: none;
}

.Listen:hover {
    transition-duration: 0.2s;
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
}

.btn:hover {
    background-color: lightgrey;
    color:black;
    border-color: black;
}

.btn:hover:active {
    background-color:black;
}

.form-control {
    border-color: black;
    color: black;
}

.form-control:hover {
    background-color: lightgrey;
    color: white;
}

.card {
    border: transparent;
    width: 50px;
    margin-block: 40px;
    margin-inline: 100px;
    font-variant: small-caps;
    background-color: transparent;
    color: whitesmoke;
}

#LastCard {
    margin-bottom: 150px;
}

.Listen {
    background: orange;
    border: 2px solid orange;
    border-radius: 8px;
    color: black;
    width: 130px;
    height: 60px;
    font-variant: small-caps;
    font-size: 25px;
    text-align: center;
    position: relative;
    padding-inline: 15px;
    padding-block: 5px;
    text-decoration: none;
}

.Listen:hover {
    transition-duration: 0.2s;
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
}

header #galleryh1 {
    height: 200px;
}

#galleryh1 {
    position: relative;
    margin: 0px auto;
    width: 1100px;
    height: 200px;
}

header #galleryh1 {
    color: whitesmoke;
    font-variant: small-caps;
    text-align: center;
    margin-top: 60px;
    font-size: 65px;
}

hr {
    background: orange;
    position: relative;
    top: 20px;
    bottom: 50px;
    border: none;
    height: 2px;
    margin: 0px auto;
}

main h2 {
    color: white;
    font-variant: small-caps;
}

#galleryPictures {
    margin: 0px auto;
    width: 1000px;
}

#galleryPictures .card {
    margin: 0px;
}

#galleryVideos video {
    border: 10px ;
    border-radius: 20px;
    width: 80%;
    position: relative;
    margin-top: 60px;
    margin-left: 150px;
}

footer {
    height: 300px;
    background-color: orange;
    margin-top: 50px;
}

footer h5 {
    font-variant: small-caps;
    margin-top: 80px;
    margin-left: 50px;
}



/*Albums*/

body {
    background-color: rgb(24, 24, 24);
}

.form-control {
    border-color: black;
    color: black;
}

.form-control:hover {
    background-color: lightgrey;
    color: white;
}

.card {
    margin-block: 40px;
    margin-inline: 100px;
    font-variant: small-caps;
    background-color: transparent;
    color: whitesmoke;
    text-align: center;

}

#LastCard {
    margin-bottom: 150px;
}

.Listen {
    background: orange;
    border: 2px solid orange;
    border-radius: 8px;
    color: black;
    width: 130px;
    height: 60px;
    font-variant: small-caps;
    font-size: 25px;
    text-align: center;
    position: relative;
    padding-inline: 15px;
    padding-block: 5px;
    text-decoration: none;
}

.Listen:hover {
    transition-duration: 0.2s;
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
}

#listenh1 {
    position: relative;
    margin: 0px auto;
    width: 1100px;
}

header #listenh1 {
    color: whitesmoke;
    font-variant: small-caps;
    text-align: center;
    margin-top: 60px;
    font-size: 65px;
    height: 200px;
}

hr {
    background: orange;
    position: relative;
    top: 20px;
    bottom: 50px;
    border: none;
    height: 2px;
    margin: 0px auto;
}

#PopularTable {
    font-size: 30px;
    margin: 0px auto;
    width: 800px;
    border: 4px solid rgb(38, 36, 36);
    border-radius: 10px;
}

#PopularTable thead {
    font-size: 20px;
    font-variant: small-caps;
}

table tr td, table tr th{
    border-bottom: 1px solid rgb(38, 36, 36) !important;
    color: aliceblue !important;
    background-color: transparent !important;
}

table img {
    width: 50px;
}

.wd {
    width: 50px;
}

footer {
       height: 300px;
       background-color: orange;
       margin-top: 50px;
   }
   
footer h5 {
       font-variant: small-caps;
       margin-top: 80px;
       margin-left: 50px;
   }

.row {
    margin-bottom: 50px;
    margin-left: 0px !important;
}

#AlbumsDiv {
    margin: 0px auto;
}



/*Career*/

body {
    background-color: rgb(24, 24, 24);
}

#careerh1 {
    position: relative;
    margin: 0px auto;
    width: 1100px;
}

header #careerh1 {
    color: whitesmoke;
    font-variant: small-caps;
    text-align: center;
    margin-top: 60px;
    font-size: 65px;
    height: 200px;
}

hr {
    background: orange;
    position: relative;
    top: 20px;
    bottom: 50px;
    border: none;
    height: 2px;
    margin: 0px auto;
}


.CareerDiv {
    width: 1000px;
    margin: 20px auto;
}

footer {
    margin-bottom: 0px;
    height: 300px;
    background-color: orange;
    margin-top: 50px;
}

footer h5 {
    font-variant: small-caps;
    margin-top: 80px;
    margin-left: 50px;
}

.accordion-button {
    background-color: orange;
    color: black;
}

.accordion-body {
    background-color: orange;
    padding-top: 5px;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: black;
}



/*Store*/

body {
    background-color: rgb(24, 24, 24);
}

.form-control {
    border-color: black;
    color: black;
}

.form-control:hover {
    background-color: lightgrey;
    color: white;
}

.card {
    margin-block: 40px;
    margin-inline: 100px;
    font-variant: small-caps;
    background-color: transparent;
    color: whitesmoke;
}

#LastCard {
    margin-bottom: 150px;
}

.Listen {
    background: orange;
    border: 2px solid orange;
    border-radius: 8px;
    color: black;
    width: 130px;
    height: 60px;
    font-variant: small-caps;
    font-size: 25px;
    text-align: center;
    position: relative;
    padding-inline: 15px;
    padding-block: 5px;
    text-decoration: none;
}

.Listen:hover {
    transition-duration: 0.2s;
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
}

#storeh1 {
    position: relative; 
    margin: 0px auto; 
    width: 1100px; 
    height: 200px;
}

header #storeh1 {
    background-image: url(img/Store_edited.jpg);
    background-size: 100%;
    background-position-y: center;
    background-position-x: center;
    color: whitesmoke;
    font-variant: small-caps;
    text-align: center;
    margin-top: 60px;
    font-size: 65px;
}

hr {
    background: orange;
    position: relative;
    top: 60px;
    bottom: 50px;
    border: none;
    height: 2px;
    margin: 0px auto;
}

#PopularTable {
    font-size: 30px;
    margin: 0px auto;
    width: 800px;
    border: 4px solid rgb(38, 36, 36);
    border-radius: 10px;
}

footer {
    height: 250px;
    background-color: orange;
    margin-top: 50px;
}

footer h5 {
    font-variant: small-caps;
    margin-top: 80px;
    margin-left: 50px;
}
